body {
    background-color: #333;
}
h1 {
    color: white;
    text-align: center;
    background-color: #222;
}
h2.blue {
    color: white;
    background-color: #336;
}
h2.red {
    color: white;
    background-color: #633;
}
/*
Rejillas
*/
#grid_main {
    display: grid;
    grid-template-columns: 50% 1fr;
}
#grid_2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#grid_mini {
    display: grid;
}
/*
Compartimientos
*/
div.std {
    border: 3px solid #222;
    margin: 10px;
    height: 600px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}
div.small {
    border: 3px solid #222;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}
